<% @articles.each do |article| %>
    <%= render partial: "articles/list", locals: { article: article } %>
    <div id="like-<%= article.id %>">
        <%= render partial: "articles/like", locals: { article: article } %>
    </div>    
<% end %>    

