<div class = "account-page">
  <%= form_for(current_user) do |f| %>
  <div class = "account-page__inner--icon">
    <div class = "account-page__inner--icon__label">
      <div class = "account-page__inner--icon__input">
        <div class = "account-page__inner--icon__input__image">
          <% if @image.present? %>
            <%= image_tag "#{@image.url}",  class: 'account-page__inner--icon__input__image', width: '100%' %>
          <% end %>  
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

