.account-page{
  
  &__inner--icon{
      
        &__image{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 15em;
            height: 15em;
            border-radius: 100%;  
            overflow: hidden;                     
        }
  }
  
  &__edit{
    text-align: center;
    font-size: 40px;
  
    &__username{
      text-align: center;
    }
    
    &__profile{
      text-align: center;
    }
    
    &__update{
      text-align: center;
    }
  }  
  
}