.show-page{
  display: flex;
  
  &__inner--icon{
    padding-top: 4%;
    padding-bottom: 4%;
    margin-left: 15%;
    
      &__input{

          &__image{
            width: 15em;
            height: 15em;
            border-radius: 100%;  
            overflow: hidden;             
          }
      }
      
      &__profileall{
          font-size: 30px;
          margin-left: 20px;
          margin-right: 20px;
          vertical-align: middle;
          text-align: center;      
        &__username{

        }
        
        &__profile{
          margin-left: 20px;
          margin-right: 20px;
        }
      }
    
  }
  
  
  
  &__buttons{
    font-size: 20px;
    display: flex;
    
    &__item{
        margin-left: 2%;
        
    }
  }
  
}